// $green: #227a62;
// $light-green: #e6f0f0;
// $dark-green: #1f3336;

// $lighter-blue: #c4dedf;
// $light-blue: #20b9d6;
// $dark-blue: #02567d;
// $darker-blue: #133449;

// $aqua: #022f32;

// $red: #b2041d;
// $dark-red: #12010a;

$cream: #e9d6b7;
$light-cream: #eff0f0;

$grey: #333;
$dark-grey: #252525;
$darker-grey: #151515;

$lilac: #e5ccf4;
$lavender: #9682b4;
$violet: #7b89bc;
$light-violet: #c1c5d2;
$cornflower: #a3b5cb;
$light-beaver: #dcccc2;
$beaver: #9b9c88;
$light-leaf: #b7c2c6;
$leaf: #65806f;
