@import "../../../styles/variables";
@import "../../../styles/colors";

.wrapper {
  color: white;
  font-family: $urbanist-font-stack;
  padding-bottom: 20px;
  border-bottom: solid white 1px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.8em;
  font-weight: 600;
  margin: 20px 0px;
}

.selectors {
  display: flex;
  flex-direction: row;
}

.year {
  font-size: 1em;
  font-weight: 300;
  height: 85px;
  width: 85px;
  display: flex;
  align-items: center; // Center vertically
  justify-content: center; // Center horizontally

  &.selected,
  &:hover {
    background-color: $dark-grey;
  }
}
